<!-- app/views/dashboard/show.html.erb -->
<div id="research-dashboard-app"></div>

<script type="text/javascript">
  // This helps the ProjectDetails component know it should render
  window.currentView = 'project_details';
</script>
